<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

    <context-param>
        <param-name>blogName</param-name>
        <param-value>Dmytro Bilokha's Blog</param-value>
    </context-param>
    <context-param>
        <param-name>followOnTwitterLink</param-name>
        <param-value>https://twitter.com/intent/follow?screen_name=dmytro_bilokha</param-value>
    </context-param>

    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/error/404_Not_Found.jspx</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/WEB-INF/jsp/error/400_Bad_Request.jspx</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/jsp/error/500_Internal_Server_Error.jspx</location>
    </error-page>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jspx</url-pattern>
            <scripting-invalid>true</scripting-invalid>
            <is-xml>true</is-xml>
        </jsp-property-group>
    </jsp-config>

</web-app>
